*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Asap Condensed', sans-serif;
        font-family: 'Cabin Condensed', sans-serif;
        font-family: 'Dancing Script', cursive; */
        font-family: 'Jost', sans-serif;
        /* font-family: 'Kalam', cursive;
        font-family: 'Kanit', sans-serif;
        font-family: 'Noto Sans Display', sans-serif;
        font-family: 'PT Sans Narrow', sans-serif;
        font-family: 'Slabo 27px', serif;
        font-family: 'Ubuntu', sans-serif; */
        color: var(--white-primary);
}
:root{
    --dark-Primary: #010101;
    --white-primary: #fff;
    --red-primary: #ff0202;
    --gray-main: rgb(85, 85, 95);
}
body{
    background: linear-gradient(rgba(10, 10, 40, 0.5), rgba(10, 10, 40, 0.5)), url(../images/bg1.jpeg) no-repeat center center/cover;
    min-height: 100vh;
    opacity: .8;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    height: 90px;
    padding: 15px;
    background: var(--dark-Primary);
    /* position: fixed;
    top: 0;
    right: 0;
    left: 0; */
    box-shadow: 0 0 30px var(--gray-main);
}
.logo span{
    color: var(--red-primary);
    font-weight: bold;
}
.headPhonelogo i{
    font-size: 30px;
    margin: 0 5px;
}
#bellIcon{
    font-size: 17px;
}

/* #userIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
} */
#userIcon:hover{
    cursor: pointer;
}
.userAccounts{
    position: absolute;
    top: 55px;
    right: 17px;
    /* background: var(--red-primary); */
    font-size: 12px;
}

#userDisplayicon{
    font-size: 21px;
}
#userDisplayicon:hover{
    cursor: pointer;
    transition: .7s ease;
}
.achors ul{
    display: flex;
    list-style-type: none;
}
.achors ul li{
    padding: 15px;
}
/* bottom section Navs */
.bottomNavs{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    background: var(--dark-Primary);
        box-shadow: 0 0 30px var(--gray-main);
}
.bottomNavs div{
    margin: 7px 0;
    padding: 5px 0;
}
.bottomNavs div i{
    font-size: 25px;
    margin: 10px;
}
.bottomNavs div i:hover{
    color: var(--red-primary);
    cursor: pointer;
    transition: .4s ease-in-out;
}
#imguser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 10px;
}

#img-play{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 5px;
}
.first-Row{
    padding-bottom: 150px;
}
/* Music */
.musicStart{
    margin: 40px 0;
}
.title{
    margin: 25px 15px;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}
.music-Content{
    display: flex;
    justify-content: space-between;
    margin: 15px 8px;
    background: var(--dark-Primary);
    padding: 10px;
    border-radius: 7px;
}
.aboutMusic{
    display: flex;
}
.number{
    margin-top: 10px;
    font-weight: bold;
}
#MusicImgID{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
}
.faded{
    margin-left: 15px;
}
.playButtons i{
        font-size: 20px;
        margin: 13px 0;
        animation-name: playAnime;
        animation-iteration-count: 1;
        animation-duration: 1.3s;
}
@keyframes playAnime {
    0%{
        font-size: 0;
    }
    50%, 100%{
        transition: .4s ease;
    }
}
.musicInfos i{
    font-size: 20px;
    margin: 13px 5px;
}
.musicInfos i:hover{
    cursor: pointer;
}
#pauseIcon, #pauseIcon2{
    display: none;
}

.more, .more2{
    display: none;
    background: var(--gray-main);
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 20px var(--dark-Primary);
        margin-right: 10px;
        animation-name: navAnime;
            animation-duration: 1s;
            animation-iteration-count: 1;
            transition: all .5s ease-in;
}
@keyframes navAnime {
    0% {
        transform: scale(0);
    }

    50%,
    100% {
        transform: scale(1.0, 1.0);
    }
}
.more ul, .more2 ul{
    list-style-type: none;
}
.more ul li, .more2 ul li{
    padding: 5px;
}
.more ul li:hover, .more2 ul li:hover{
    cursor: pointer;
    background: var(--dark-Primary);
    transition: .5s ease-in;
    border-radius: 7px;
}
#closeMore, #closeMore2{
    position: absolute;
    z-index: 100;
    top: -20px;
    left: 80px;
    font-size: 20px;
}






/* #Musics{
    position: relative;
    top: 120px;
    z-index: -1;
}
.titleMusic{
    margin: 15px;
    font-size: 2.1rem;
    font-family: 'Dancing Script', cursive;
            
}
.music-Content-1{
    display: flex;
    justify-content: space-between;
    background: var(--dark-Primary);
    padding: 5px;
    margin: 15px  10px;
    border-radius: 5px;
    z-index: 100;
}
.musicdetails{
    display: flex;
}
.musicdetails span{
    position: relative;
    top: 10px;
    font-weight:bolder ;
}
.musicinfo{
    position: relative;
    left: 15px;
}

#playBtn, #pauseBtn, #playBtn2, #pauseBtn2{
    font-size: 25px;
    position: relative;
    top: 10px;
}

#music-fav,#music-fav2,  #moreIcon, #moreIcon2 {
    font-size: 20px;
        position: relative;
        top: 10px;
        margin: 0 5px;
}
#music-fav:hover, #music-fav2:hover, #moreIcon:hover, #moreIcon2:hover{
    cursor: pointer;
}
.moreOptions, .moreOptions2{
    display: none;
    margin-right: 10px;
    background: var(--gray-main);
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 20px var(--dark-Primary);
    animation-name: navAnime;
        animation-duration: 1s;
        animation-iteration-count: 1;
        transition: all .5s ease-in;
        margin-top: 10px;
}
@keyframes navAnime {
    0% {
        transform: scale(0);
    }

    50%,
    100% {
        transform: scale(1.0, 1.0);
    }
}
.moreOptions ul, .moreOptions2 ul{
    list-style-type: none;
}
.moreOptions ul li, .moreOptions2 ul li{
    padding: 5px;
} */

